<script>
import typeit from 'typeit';
// @ts-ignore
new typeit('#welcome', {
	speed: 50,
	waitUntilVisible: true,
	cursor: false,
}).go();
</script>
<div class="flex flex-col gap-2 bg-slate-950 p-6 border-4 border-sky-700 grow w-full font-pixel">
	<h1 class="font-pixel text-sky-50">
		Hi, my name is <span class="text-orange-600">CaptainYarb</span>!
	</h1>
	<p id="welcome" class="text-sky-200 text-xs leading-5">IRL, folks call me <u class="no-underline border-b-2 border-dashed border-sky-300">Jonathan Yarbor</u>. I'm an proud father, startup entreprenuer, fullstack software architect, &amp; gamer.</p>
</div>