<aside class="grid grid-cols-1 sm:grid-cols-3 w-full md:max-w-2xl gap-6">
	<div class="col-span-2 bg-slate-900 p-6 border-4 border-sky-800">
		<h2 class="font-pixel text-sm text-orange-600 mb-6">Career</h2>
		<ul>
			<li>
				<p class="font-pixel text-[.65rem]">
					CEO of <a href="https://nodecraft.com" target="_blank">Nodecraft</a>
				</p>
				<div class="font-pixel flex gap-2 text-[.45rem]">
					<span class="bg-orange-900 text-orange-100 px-1 rounded">Founder</span>
					<span class="bg-orange-900 text-orange-100 px-1 rounded">Software Engineer</span>
				</div>
			</li>
		</ul>
	</div>
	<div class="bg-slate-900 p-6 border-4 border-sky-800">
		<h2 class="font-pixel text-sm text-orange-600">Links</h2>
	</div>
</aside>